@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: orange;
}
.wrapper {
  width: 80vmin;
  padding: 50px 40px;
  background-color: rgb(46, 46, 46);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
}
span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 100px;
}
p {
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  list-style: 35px;
  margin: 30px 0;
}
#btn {
  display: block;
  background-color: yellow;
  border: none;
  padding: 5px;
  font-size: white;
  color: black;
  font-weight: 600;
  padding: 12px 12px;
  /* margin: 0 auto; */
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(255, 81, 0);
}

.spinner {
  width: 56px;
  display: none;
  margin: 0 auto;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner.active {
  display: block;
}
.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
